/* ******************************************************************************
/ Copyright 2026 TypeFox GmbH
/ This program and the accompanying materials are made available under the
/ terms of the MIT License, which is available in the project root.
 ******************************************************************************/

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    margin: 1rem 0 0.5rem 0;
    text-align: center;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message {
    display: flex;
    gap: 0.5rem;
}

.message pre {
    margin: 0;
    margin-top: 2px;
    flex-grow: 1;
    overflow: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.message span {
    text-align: center;
}

.messageInputContainer {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
}

.messageInputContainer > div:first-child {
    flex-grow: 1;
}

.messageInput {
    padding: 8px 8px;
    min-height: unset;
}

.inputArea > div {
    width: 100%;
}

::highlight(messageTarget) {
    color: blue;
}

.sendButtonGroup {
    align-self: flex-end;
}

.sendButton {
    padding: 8px 8px;
}

.writingIndicator {
    color: var(--vscode-descriptionForeground);
    font-size: small;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
